

<div class="footer" id="contact">
	<div class="container">
	
		<div class="copy_right text-center">
			 <p>&copy; 2021 All rights reserved | Design by Rachit Pandya</p>
			 <hr class="my-4" style="background-color: yellow;">
			 	<section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/rachit.pandya.54/" target="top" role="button"
             ><i class="fab fa-facebook-f"	></i
            ></a>

          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/Pandyarachit" target="top" role="button"
             ><i class="fab fa-twitter"></i
            ></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/i_m_rachit/?hl=en" target="top" role="button"
             ><i class="fab fa-instagram"></i
            ></a>

          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/rachit-pandya-5b9669157/" target="top" role="button"
             ><i class="fab fa-linkedin-in"></i
            ></a>

          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/rachit4018" target = "top" role="button"
             ><i class="fab fa-github"></i
            ></a>
        </section>
		</div>
	</div>
</div>
