<nav class="link-effect-3" id="link-effect-3">
							<ul class="nav1 nav nav-wil">
								<li class="active"><a data-hover="Home" href="/">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/projects">Projects</a></li>
								<li><a href="/services">Services</a></li>
								<li><a href="/contactus">Contact</a></li>
							</ul>
</nav>